title: Sakib Nawar Tanmoy | Data & Code
description: Sakib Nawar Tanmoy Portfolio - Data Analyst, Data Scientist, Software Engineer
url: "https://sakibntanmoy006.github.io"
markdown: kramdown
plugins:
  - jekyll-feed
  - jekyll-seo-tag
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
