<svg
  xmlns="http://www.w3.org/2000/svg"
  width="{{ include.size | default: 24 }}"
  height="{{ include.size | default: 24 }}"
  viewBox="0 0 24 24"
  fill="none"
  overflow="visible"
  stroke="{{ include.color | default: 'currentColor' }}"
  stroke-width="{{ include.stroke_width | default: 2 }}"
  stroke-linecap="round"
  stroke-linejoin="round"
  class="hover-icon hover-icon-arrow-narrow-up-dashed {{ include.class }}"
>
  <g class="arrow-group">
    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
    <path d="M12 5v6m0 3v1.5m0 3v.5" />
    <path d="M16 9l-4 -4" />
    <path d="M8 9l4 -4" />
  </g>
</svg>
