<svg
  xmlns="http://www.w3.org/2000/svg"
  width="{{ include.size | default: 24 }}"
  height="{{ include.size | default: 24 }}"
  viewBox="0 0 24 24"
  fill="none"
  overflow="visible"
  stroke="{{ include.color | default: 'currentColor' }}"
  stroke-width="{{ include.stroke_width | default: 2 }}"
  stroke-linecap="round"
  stroke-linejoin="round"
  class="hover-icon hover-icon-linkedin {{ include.class }}"
>
  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
  <!-- Added length utility class for path drawing animation -->
  <path class="lines path-draw" d="M8 11v5" />
  <path class="lines path-draw" d="M8 8v.01" />
  <path class="lines path-draw" d="M12 16v-5" />
  <path class="lines path-draw" d="M16 16v-3a2 2 0 1 0 -4 0" />

  <path
    class="border"
    d="M3 7a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4z"
    style="transform-origin: center"
  />
</svg>
