<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ page.title | default: site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="{{ page.description | default: site.description }}"
    />
    <meta
      name="keywords"
      content="Sakib Nawar Tanmoy, Portfolio, Data Analyst, Data Scientist, Software Engineer"
    />
    <meta name="author" content="Sakib Nawar Tanmoy" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600&family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Oswald:wght@400;700&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap"
      rel="stylesheet"
    />

    <!-- Animate.css -->
    <link rel="stylesheet" href="{{ '/css/animate.css' | relative_url }}" />
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="{{ '/css/icomoon.css' | relative_url }}" />
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="{{ '/css/bootstrap.css' | relative_url }}" />

    <!-- Theme style  -->
    <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}" />
    <!-- Hover Icons -->
    <link rel="stylesheet" href="{{ '/css/hover-icons.css' | relative_url }}" />
    <!-- Syntax Highlighting -->
    <link rel="stylesheet" href="{{ '/css/syntax.css' | relative_url }}" />

    <!-- Modernizr JS -->
    <script src="{{ '/js/modernizr-2.6.2.min.js' | relative_url }}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
      <script src="{{ '/js/respond.min.js' | relative_url }}"></script>
    <![endif]-->
    {% seo %}
  </head>
  <body>
    <div class="ambient-glow"></div>
    <div class="fh5co-loader"></div>

    <div id="page">
      <!-- Navigation -->
      <!-- Navigation Removed as per request -->

      {{ content }}

      <!-- FOOTER -->
      <div id="fh5co-started" class="fh5co-bg-dark">
        <div class="container">
          <div class="row animate-box">
            <h2 class="connect-title">Start a Conversation</h2>
            <p class="connect-subtitle">
              I'm excited to explore new projects and collaborations.
            </p>
            <p>
              <a
                href="https://mail.google.com/mail/u/0/?to=sakib.tanmoy@gmail.com&su=Collaboration&fs=1&tf=cm"
                class="btn btn-primary btn-lg btn-pill"
                >Email Me</a
              >
            </p>
          </div>
        </div>
        <div class="footer-big-name">Sakib Nawar Tanmoy</div>
      </div>

      <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
      </div>

      <!-- jQuery -->
      <script src="{{ '/js/jquery.min.js' | relative_url }}"></script>
      <!-- jQuery Easing -->
      <script src="{{ '/js/jquery.easing.1.3.js' | relative_url }}"></script>
      <!-- Bootstrap -->
      <script src="{{ '/js/bootstrap.min.js' | relative_url }}"></script>
      <!-- Waypoints -->
      <script src="{{ '/js/jquery.waypoints.min.js' | relative_url }}"></script>
      <!-- Stellar Parallax -->
      <script src="{{ '/js/jquery.stellar.min.js' | relative_url }}"></script>
      <!-- Main -->
      <script src="{{ '/js/main.js' | relative_url }}"></script>
    </div>
  </body>
</html>
