<svg
  xmlns="http://www.w3.org/2000/svg"
  width="{{ include.size | default: 24 }}"
  height="{{ include.size | default: 24 }}"
  viewBox="0 0 24 24"
  fill="none"
  overflow="visible"
  stroke="{{ include.color | default: 'currentColor' }}"
  stroke-width="{{ include.stroke_width | default: 2 }}"
  stroke-linecap="round"
  stroke-linejoin="round"
  class="hover-icon hover-icon-brightness-down {{ include.class }}"
>
  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
  <path
    class="sun-center origin-center"
    d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"
  />
  <g class="sun-rays origin-center">
    <path d="M12 5l0 .01" />
    <path d="M17 7l0 .01" />
    <path d="M19 12l0 .01" />
    <path d="M17 17l0 .01" />
    <path d="M12 19l0 .01" />
    <path d="M7 17l0 .01" />
    <path d="M5 12l0 .01" />
    <path d="M7 7l0 .01" />
  </g>
</svg>
