---
layout: default
---

<div
  class="container animate-box"
  style="padding-top: 150px; padding-bottom: 100px"
>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
      <h2
        class="blog-section-title"
        style="font-size: 4rem; margin-bottom: 40px"
      >
        All Articles
      </h2>
      <p style="font-size: 1.2rem; color: #666">
        Browse our complete collection of thoughts and tutorials.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="blog-archive-list">
        {% for post in site.posts %}
        <div
          class="blog-archive-item animate-box"
          data-animate-effect="fadeInUp"
        >
          <span class="archive-date">{{ post.date | date: "%B %d, %Y" }}</span>
          <h3 class="archive-title">
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </h3>
          <p class="archive-excerpt">
            {{ post.excerpt | strip_html | truncatewords: 30 }}
          </p>
          <a href="{{ post.url | relative_url }}" class="archive-read-more"
            >Read Article <i class="icon-arrow-right22"></i
          ></a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center mt-5">
      <a
        href="{{ '/blog/' | relative_url }}"
        class="btn btn-primary btn-outline"
        ><i class="icon-arrow-left22"></i> Back to Latest</a
      >
    </div>
  </div>
</div>
